body {
    font-family: 'Lato', sans-serif;
}


.navbar {
    font-family: 'Lato', sans-serif;
}

.navbar strong{
    font-family: 'WindSong', cursive;
    text-align: center;
    padding-top: 20px;
}

.bannergeneral {
    padding: 20px;
}

.card {
    height: 500px;
    padding: 10px;    
}

.card .imagenpro {
object-fit: contain;
padding: 10px;
}

.resumendecompra {
    font-family: 'Dancing Script', cursive;
}