body {
    font-family: 'Lato', sans-serif;
}


.navbar {
    font-family: 'Lato', sans-serif;
}

.navbar strong{
    font-family: 'WindSong', cursive;
    text-align: center;
    padding-top: 20px;
}

.bannergeneral {
    padding: 20px;
}